<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Profile System</title>
</head>
<body style="background-color: aqua;">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFjV_vu3Ko7S-e1WTghumL0aITMS5cSIqZGw&usqp=CAU"><h1 style="text-align: center;">V Soft Consulting</h1></a>
<h1><u>Employee Profile System</u></h1>
<h2><a href="Employee.html">List Page</a></h2>
<h2><a href="Add.html">Add Page</a></h2>
<h2><a href="Edit.html">Edit Page</a></h2>
<h2><a href="Delete.html">Delete Page</a></h2>
<h2><a href="Profile.html">Profile Page</a></h2>



    
</body>
</html>

